.form_title {
}
.column {
    float: left;
    width: 10%;
}
    
.row:after {
    content: "";
    display: table;
    clear: both;
}

button.submit_btn{
    color: #ffffff;
	background-color: #55bb54;
	font-size: 14px;
	border: 1px solid #2d63c8;
	border-radius: 10px;
	padding: 8px 20px;
	cursor: pointer;
}
button.submit_btn:hover{
    color: #2d63c8;
	background-color: #ffffff;
}

button.reset_btn{
    color: #ffffff;
	background-color: #e00000;
	font-size: 14px;
	border: 1px solid #2d63c8;
	border-radius: 10px;
	padding: 8px 20px;
	cursor: pointer;
}
button.reset_btn:hover{
    color: #2d63c8;
	background-color: #ffffff;
}
  
h1, h2, p, table{
    font-family: "Gill Sans", sans-serif;
}
table, tr, td{
	border: 1px solid;
	border-collapse: collapse;
}
.zebra:nth-child(odd){
	background-color: #DCDCDC;
}
td{
	padding: 5px;
}
.sub_head{
	font-size: 24px;
	font-weight: bold;
}

html, body{
    position: static;
    top:0;
    bottom:0;
    left:0;
    right:0;
}

